@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap';

:root {
  --container-width: 10em;
  --row-height: 1.1em;

  --bg-color: rgba(34, 34, 34, 0.65);
  --icon-color: rgb(199, 199, 199);
  --label-color: rgb(199, 199, 199);
  --box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);
  --text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.3);
  --border-color: rgb(199, 199, 199);

  --icon-size: 1em;
  --icon-size2: 0.75em;
  --font-size: 0.8em;

  --add-color: rgb(43, 163, 89);
  --remove-color: rgb(163, 43, 79);
  --set-color: rgb(163, 135, 43);
  --change-color: rgb(43, 99, 163);
}

body {
  margin: 0;
  overflow: hidden;
  letter-spacing: 0.03em;
}

.huditems {
  display: none;
  position: absolute;
  top: 3.25em;
  right: 1.625em;
  max-width: var(--container-width);
  flex-direction: column;
  padding: 0.45em;
}

.status-item {
  display: flex;
  align-items: center;
  padding: 0.35em;
  border-radius: 0.3125em;
  border-left: 0.25em solid var(--border-color);
  font-size: var(--font-size);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  height: var(--row-height);
  text-shadow: var(--text-shadow);
  margin-bottom: 0.2em;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  margin-right: 0.6em;
}

.icon-container i {
  font-size: var(--icon-size);
  color: var(--icon-color);
}

.id,
.job,
.gang,
.cash,
.bank {
  flex: 1;
  text-align: left;
  font-family: 'Kanit', sans-serif;
  color: var(--label-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--row-height);
  margin-top: 0.3em;
}

.move-button,
.close-button,
.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.2em;
  padding: 0.1em;
  width: 1.75em;
  height: var(--row-height);
  background: var(--bg-color);
  border-radius: 0.3125em;
  border-left: 0.25em solid var(--border-color);
  color: var(--icon-color);
}

.move-button i,
.close-button i,
.settings-button i {
  font-size: var(--icon-size2);
}

.settings-container {
  display: none;
  background-color: var(--bg-color);
  padding: 10px 20px 10px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 0.25em solid var(--border-color);
  box-shadow: var(--box-shadow);
  max-width: fit-content;
  position: fixed;
  top: 100px;
  left: -300px;
  z-index: 9999;
  user-select: none;
}

.settings-container.show {
  display: block;
  animation: slideIn 0.3s ease-in-out forwards;
}

.settings-container.hide {
  display: block;
  animation: slideOut 0.3s ease-in-out forwards;
}

.settings-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--label-color);
}

.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting-item input[type="checkbox"] {
  margin-right: 10px;
}

.setting-item input[type="checkbox"]:checked {
  accent-color: var(--icon-color);
}

.setting-item label {
  color: var(--label-color);
  font-size: 12px;
}

@keyframes flash-add {
  0% {
    color: inherit;
    font-weight: normal;
  }

  25% {
    color: var(--add-color);
    font-weight: bold;
  }

  50% {
    color: inherit;
    font-weight: normal;
  }

  75% {
    color: var(--add-color);
    font-weight: bold;
  }

  100% {
    color: inherit;
    font-weight: normal;
  }
}

@keyframes flash-remove {
  0% {
    color: inherit;
    font-weight: normal;
  }

  25% {
    color: var(--remove-color);
    font-weight: bold;
  }

  50% {
    color: inherit;
    font-weight: normal;
  }

  75% {
    color: var(--remove-color);
    font-weight: bold;
  }

  100% {
    color: inherit;
    font-weight: normal;
  }
}

@keyframes flash-set {
  0% {
    color: inherit;
    font-weight: normal;
  }

  25% {
    color: var(--set-color);
    font-weight: bold;
  }

  50% {
    color: inherit;
    font-weight: normal;
  }

  75% {
    color: var(--set-color);
    font-weight: bold;
  }

  100% {
    color: inherit;
    font-weight: normal;
  }
}

@keyframes flash-change {
  0% {
    color: inherit;
    font-weight: normal;
  }

  25% {
    color: var(--change-color);
    font-weight: bold;
  }

  50% {
    color: inherit;
    font-weight: normal;
  }

  75% {
    color: var(--change-color);
    font-weight: bold;
  }

  100% {
    color: inherit;
    font-weight: normal;
  }
}

@keyframes slideIn {
  0% {
    left: -300px;
  }

  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }

  100% {
    left: -300px;
  }
}